.navbar-default .navbar-nav>li>a {
    /* color: #777; */
    background-color: rgb(240, 234, 234);
}
.navbar-default .navbar-nav>li {
    /* color: #777; */
    background-color: rgb(247, 242, 242);
}
hr {
    margin-top: none; 
    margin-bottom: none;
    border: 0;
    border-top: 1px solid #eee;
}